body {
  font-family: "google-sans", sans-serif;
  background-color: #2b2b2b;
  color: #ffffff;
  margin: 0;
  padding: 1rem;
}

h1,h2,h3,h4,h5,h6,p {
  background-color: transparent;
  color: inherit;
  margin: 0.5rem 0;
  padding: 0;
}